.movie-card {
    width: 250px;
    height: 350px;
    margin: 10px;
}

.movie-poster {
    height: 250px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-name {
    margin-top: 10px;
    text-align: center;
}